<mat-card>
  <mat-card-title class="titolo-sezione">Lista movimenti</mat-card-title>
    <mat-card-content>
    <div style="text-align: center;">
      <mat-form-field>
      <mat-label>Seleziona intervallo di date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Da" [(ngModel)]="fromDate" (dateChange)="getTransactions()">
        <input matEndDate placeholder="A" [(ngModel)]="toDate" (dateChange)="getTransactions()">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    </div>
  
    <div *ngIf="transactions.length > 0" class="transactions-list">
      <table>
        <thead>
          <tr>
            <th class ="colonnelaterali">Data</th>
            <th>Descrizione</th>
            <th class ="colonnelaterali">Importo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.accountingDate }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }} €</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
  </mat-card-content>
  </mat-card>
  