.titolo-sezione{
  margin: 20px;
  text-align: center;
}
  
.transactions-list table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.transactions-list th, .transactions-list td {
  border: 1px solid #e0e0e0;
  padding: 8px 10px;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 20px;
}

.colonnelaterali {
  width: 20%;
}
